<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucketlist {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" >
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
</head>
<body>
<header>
    <h1>{% block header %} Bucketlist {% endblock %}</h1>
    <img src="{{ asset('img/logo.png') }}" alt="logo Bucketlist">
    <nav><a href="{{ path('main_home') }}"><p>Go back home</p></a>
    <a href="{{ path('main_aboutus') }}"><p>About us</p></a>
        <a href="{{ path('main_list') }}"><p>Liste des idées</p></a>
    </nav>
</header>
<main>{% block main %}{% endblock %}
</main>
<footer>{% block footer %} ©Bucketlist - {{ "now"|date("Y")}}  {% endblock %}</footer>
</body>
</html>