<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucketlist {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" >
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
    {% block ajoutHead %}{% endblock %}
</head>
<body>
<header>
    <div class="container">
        <div class="row">
    <div id="logoTitre">
        <a href="{{ path('main_home') }}" title="Go back home !">
            <img src="{{ asset('img/logo.png') }}" alt="logo Bucketlist">
        </a>
    <h1>{% block header %} Bucketlist {% endblock %}</h1>
    </div>
    <nav><a class="lienNav" href="{{ path('main_home') }}" title="Go back home !"><p>Go back home</p></a>
    <a class="lienNav" href="{{ path('wish_aboutus') }}" title="About us !"><p>About us</p></a>
        <a class="lienNav" href="{{ path('wish_list') }}" title="Liste des idées !"><p>Liste des idées</p></a>
        <a class="lienNav" href="{{ path('wish_add') }}" title="Ajouter une idée !"><p>Ajouter une idée</p></a>
        <a class="lienNav" href="{{ path('app_logout') }}" title="Se déconnecter !"><p>Se déconnecter</p></a>
    </nav>
        </div>
    </div>
</header>
<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block main %}{% endblock %}
</main>
<footer>{% block footer %} ©Bucketlist - {{ "now"|date("Y")}}  {% endblock %}

<a href="{{ path('main_mentions_legales') }}" title="Nos mentions pas très légales">Mentions légales</a>
</footer>
</body>
</html>